<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>597102842990-7sq7al0rvsrc5gt49o5poh01pp857dum.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.597102842990-7sq7al0rvsrc5gt49o5poh01pp857dum</string>
	<key>API_KEY</key>
	<string>AIzaSyAeWoB3od5NiU2NOIXLk4z8Zg_-r6n-jTk</string>
	<key>GCM_SENDER_ID</key>
	<string>597102842990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dogbird.Pagina</string>
	<key>PROJECT_ID</key>
	<string>pagina-2b2a8</string>
	<key>STORAGE_BUCKET</key>
	<string>pagina-2b2a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597102842990:ios:c7369d4c63ca47c5</string>
	<key>DATABASE_URL</key>
	<string>https://pagina-2b2a8.firebaseio.com</string>
</dict>
</plist>